html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 14px; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* apply a natural box layout model to all elements */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


html,
body {
	height: 100%;
	margin: 0;
}

body {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.bezel {
	background: #9A9192;
	height: 100%;
	padding: 9px;
}

.display_wrapper {
	background: #333;
	margin-bottom: 18px;
	padding: 5px 18px;
	
	-webkit-border-radius: 9px;
}

.make {
	color: #F4ECAB;
	font-size: 14px;
	font-weight: bold;
}

.display {
	background: #AAD0D0;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 9px;
	margin: 5px 0;
	
	-webkit-border-radius: 9px;
}

.display .operator {
	color: #667979;
}

.display .value {
	float: right;
}

.keypad li {
	float: left;
	padding: 5px;
	width: 25%;
}

.keypad li.equals {
	float: right;
}

.keypad li.zero {
	width: 50%;
}

.keypad a {
	background: #CCC9C0;
	border: solid 2px #555;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.7);
	color: #333;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 100%;
	padding-left: 9px;
	text-decoration: none;

	-webkit-border-radius: 9px;
}

.keypad li.clear a {
	background: #E33260;
	color: #FFF;
}

a.active {
	background: #A8A495;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px #15EAEA;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px #15EAEA;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px #15EAEA;
}

@media only screen and (min-width: 360px) {
	.bezel {
		padding: 18px;
	}

	.display_wrapper {
		margin-bottom: 40px;
		padding: 20px 60px;
	}

	.make {
		font-size: 16px;
	}

	.display {
		font-size: 20px;
		padding: 20px;
		margin: 20px 0;
	}

	.keypad li {
		padding: 9px;
	}

	.keypad a {
		font-size: 45px;
		padding-left: 18px;
	}
}