html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 14px; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* apply a natural box layout model to all elements */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

html,
body {
	height: 100%;
	margin: 0;
}

.bezel {
	background: #9A9192;
	height: 100%;
	padding: 20px;
}

.display_wrapper { background: #333; margin-bottom: 40px; padding: 20px 60px; -webkit-border-radius: 20px; }
.make { color: #F4ECAB; font-size: 123.1%; font-weight: bold; }
.display { background: #AAD0D0; font-size: 140%; font-weight: bold; padding: 20px; text-align: right; margin: 20px 0;  -webkit-border-radius: 10px; }

.keypad li {
	float: left;
	padding: 10px;
	width: 25%;
}

.keypad li.equals {
	float: right;
}

.keypad li.zero {
	width: 50%;
}

.keypad a {
	background: #CCC9C0;
	border: solid 2px #555;
	color: #333;
	display: block;
	font-size: 45px;
	font-weight: bold;
	height: 100%;
	padding-left: 18px;
	text-decoration: none;

	-webkit-border-radius: 18px;
}

.keypad li.clear a {
	background: #E33260;
	color: #FFF;
}